@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-color: #eac285;
    overflow: hidden; 
}

form, .error-popup{
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: ease 0.5s;
}

form img {
    margin-top: -55%;
    width: 8rem;
    height: auto;
}

form .text {
    text-align: left;
    width: 100%;
    font-size: 0.8rem;
}

form input {
    width: 100%;
}

form .password {
    padding: 4px 6px;
    border: 0;
    outline: 0;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
    border-radius: 4px;
}

form .submit {
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 2px 4px;
    background: rgb(251, 211, 78);
    transition: ease 0.2s;
    cursor: pointer;
}

.error-popup {
    top: -100%;
    font-size: 0.8rem;
    opacity: 0%;
}

.error-popup img {
    margin-top: -60%;
}

.error-popup .hide {
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 2px 4px;
    transition: ease 0.2s;
    cursor: pointer;
    background: #c3bfbf;
}

.hide:hover {
    background: rgb(251, 211, 78);
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    overflow: hidden;
    /* background: rgb(235, 142, 142); */
    z-index: -3;
}

.main-wrapper h1 {
    font-size: 1.7rem;
    color: brown;
}

.container {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.6);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 20px 45px rgba(120, 76, 10, 0.25);
    transition: ease 0.4s;
}

.letter-card {
    background: #fff;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.6) rotate(-180deg);
    top: 200%;
    left: 50%;  
    text-align: left;
    padding: 20px;
    font-size: 0.9rem;
    box-shadow: 0 20px 45px rgba(120, 76, 10, 0.25);
    transition: ease 0.3s;
}

.letter-card .image {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.letter-card .body {
    margin-top: 10px;
}

.letter-card .greet {
    margin-top: 20px;
}

.letter-card .foot {
    margin-top: 30px;
    width: 100%;
    text-align: right;
}

.show-letter {
    top: 50%;
    transform: translate(-50%, -50%) scale(0.6) rotate(6deg);
}

.close {
    transform: translate(-50%, -50%) scale(0);
}

.open {
    top: 50%;
    opacity: 100%;
}

.cake {
    width: 100%;
    position: absolute;
    bottom: 60px;
}

.bottom-layer,
.top-layer,
.middle-layer {
    height: 80px;
    width: 240px;
    position: relative;
    margin: auto;
    background-repeat: repeat;
    background-size: 100% 100%, 60px 100px;
    background-position: 28px 0;
    background-image: linear-gradient(
        transparent 50px,
        #e3a953 50px,
        #e3a953 60px,
        transparent 60px
        ),
        radial-gradient(circle at 30px 5px, #713e16 30px, #eac284 31px);
}

.middle-layer {
    transform: scale(0.85);
    top: 72px;
    animation: rise-1 2s forwards;
}

@keyframes rise-1 {
    100% {
        top: 7px;
    }
}

.top-layer {
    transform: scale(0.7);
    top: 144px;
    animation: rise-2 2s 2s forwards;
}

@keyframes rise-2 {
  100% {
    top: 26px;
  }
}

.candle {
    background: repeating-linear-gradient(
        45deg,
        #fd3018 0,
        #fd3018 5px,
        #ffa89e 5px,
        #ffa89e 10px
    );
    height: 45px;
    width: 15px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    animation: rise-3 1s 4s forwards;
}

@keyframes rise-3 {
    100% {
        bottom: 202px;
    }
}

.candle:after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #ffee54;
    border-radius: 0 50% 50% 50%;
    transform: scale(0) rotate(45deg);
    bottom: 50px;
    left: -0.5px;
    animation: flame 1.5s 5s forwards;
}

@keyframes flame {
    100% {
        transform: scale(1) rotate(45deg);
    }
}

@media (min-width: 800px){
    .main-wrapper h1 {
        margin-bottom: 100px;
    }
}
